@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <br />
    <hr />
    <div class="card">
        <h4> Selecciona una opcion en la barra de navegacion</h4>
    </div>
</div>
