@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <br />
    <div>
        <img src="~/img/InmobiliariaAvaca.svg" width="500" alt="Alternate Text" />
    </div>
</div>
