
@{
    ViewData["Title"] = "Restringido";
}

<h1>Restringido</h1>
<div>
    <p>Si usted he legado a esta pagina podria ser por los siguientes motivos:</p>
    <ul>
        <li>No tiene permisos</li>
        <li> Esta restringido para la accion</li>
        <li> Etc.</li>
    </ul>
    <h1>Vuelva la inicio</h1>
</div>

